@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
  font-family: 'Secular One', sans-serif;
}
.addNew {
  background-image: url("img/107272.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 8vh;
  width: 3.84vw;
  border: none;
}
.addNew:focus {
  border: none;
  outline: none;
}
.addNew:hover {
  cursor: pointer;
}

.searchTimeLine{
  height: 100%;
  border-radius: 1em;
}

.searchTimeLineForm{
  height: auto;
  display: flex;
  width: 100%;
  justify-content: end;
}

body{
  background-image: url(img/maxresdefaultBlur.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background{
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  background-color: cornflowerblue;
  border-radius: 3vw;
  box-shadow: 0.5vw 1.6vh 10vmin #222222, -0.5vw -1.6vh 10vmin #222222;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-evenly;
}

#indexBackground{
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.upperDiv{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 50%;
}

.lowerDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

/*
add.html
*/

.upload_file_div{
  display: flex;
  align-items: center;
}

.rightform{
display: flex;
flex-direction: column;
width: 50%;
padding-right: 1em;
justify-content: space-evenly;
}

.leftform{
  display: flex;
  flex-direction: column;
  width: 50%;
  }

#description{
  height: 100%;
  width: 90%;
  background-size: 100% 130%;
  padding-top: 6em;
  padding-right: 3.3em;
  text-indent: 0em;
  background-position: right;
}

.background form {
display: flex;
width: 100%;
}

.submit{
  background-image: url(img/iconfinder_Checkmark_1891021.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: transparent;
  background-size: contain;
  width: 4em;
  height: 3em;
  cursor: pointer;
}


.dateInput{
  width: 5em;
  height: 2em;
  border-radius: 20%;
  font-size: 50%;
 }

.textInput{
  background-image: url(img/scroll-34606_1280.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17em 3em;
    background-color: transparent;
    border: transparent;
    text-indent: 1em;
    width: 17em;
    height: 3em;
    cursor: text;
}


.upLoadTxt{
width: 0.00001px;
height: 0.00001px;
 }

.fileLabel{
  cursor: pointer;
}

.fileLabel img {
  width: 2em;
  height: auto;
}

form{
  letter-spacing: 0.2vmin;
}

label{
  color: rgb(0, 0, 0);
}

.fileNameDisplay{
  padding-right: 1em;
}

/*timeLine.html*/

.timeLine{
  background-color: black;
}

#line{
  height: 0.2em;
  width: 100%;
  position: relative;
}

.arrow{
  background: transparent;
  position: absolute;
  left: calc(100vw - 100px + 0.28em);
  height: 0.7em;
  width: 0.7em;
  border-bottom: 0.2em solid black;
  border-right: 0.2em solid black;
  transform: rotate(-45deg);
}

.numberTimeline{
position: absolute;
}

#num1{
left: 0%
}

#num2{
left: 48%;
}

#num3{
right: 0%;
}

#timeLineBackground{
  align-items: center;
  justify-content: center;
}

.dotOnLine{
  position: absolute;
  background-color: red;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}

#workDisplay{
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  display: none;
  position: fixed;
  text-align: right;
  padding-right: 1em;
  overflow-y:auto;
  direction: rtl;
}